/*
Al cuerpo de la
pagina se aplica el tamaño de fuente
*/

* {
      box-sizing: border-box;
}

body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      background-image: url("/static/img/fondoL.jpg");
}



/**
 * se aplica el ancho, margen centrado
 * borde de un pixel con redondeado, y rellenado
 * a la izquierda y derecha
*/

#Contenedor {
      max-width: 350px;
      padding: 30px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 25px auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.input-group {
      width: 100%;
}

#id_username, #id_password {
      height: 49px;
}

button.btn {
      display: block;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
}


/**
 * Aplicando al icono de usuario el color de fondo,
 * rellenado de 20px y un redondeado de 120px en forma
 * de un circulo
*/

.Icon span {
      background: #A8A6A6;
      padding: 20px;
      border-radius: 120px;
      text-align: center;
}

/**
 * Se aplica al contenedor madre un margen de tamaño 10px hacia la cabecera y pie,
 * color de fuente blanco,un tamaño de fuente 50px y texto centrado.
*/

.Icon {
      margin-top: 20px;
      margin-bottom: 35px;
      color: #FFF;
      font-size: 50px;
      text-align: center;
}

/**
 * Se aplica al contenedor donde muestra en el pie
 * la opción de olvidaste tu contraseña?
*/

.opcioncontra {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
}