body {
    font-family: "Segoe UI", sans-serif;
    /*background-color: #f4f4f4;*/
    padding: 20px;
    /*background-image: url("{% static 'img/fondo.jpg' %}"); */
    background-image: url("/static/img/fondo.jpg");


}

/* HEADER */
.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header h2 {
    margin: 0;
    font-size: 26px;
    color: #333;
    display: inline-block;
    width: 33%;
}

.logo-centro {
    display: inline-block;
    width: 33%;
}

.logout-link {
    font-size: 16px;
    color: #d9534f;
    text-decoration: none;
    display: inline-block;
    width: 33%;
  
}

.logout-link:hover {
    text-decoration: underline;
}

/* Mensaje del contador de incidencias */
.alert-info {
    background-color: #e7f1ff;
    border: 1px solid #b8daff;
    color: #004085;
}

/* Botón crear incidencia */
.crear-btn {
    display: block;
    margin: 0 auto 20px auto;
    font-size: 16px;
    padding: 10px 25px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.crear-btn:hover {
    background-color: #379237;
}

/* Modal de crear incidencia */
#modalIncidencia {
    display: none;
    position: fixed;
    top: 15%;
    left: 35%;
    width: 30%;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#btnGuardar,
#btnCerrarModal {
    margin-top: 10px;
}

#btnCerrarModal:hover {
    background-color: #ccc;
}

#modalIncidencia h3 {
    text-align: center;
}

#errores {
    margin-top: 10px;
    color: red;
}

/*FILTROS Adicionales*/

#filtrosEstados button,
#filtrosUsuarios button {
    margin: 5px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

button.activo {
    background-color: #007bff;
    color: white;
}


/*DATATABLE*/
#tablaIncidencias {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #333;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#tablaIncidencias th {
    background-color: #f2f2f273;
}

#tablaIncidencias th,
#tablaIncidencias td {
    padding: 8px;
    text-align: left;
}


/* Clases según estado de la incidencia */
table#tablaIncidencias tr.pendiente>td {
    background-color: #fbc1c1 !important;   /*para que bootstrap no me pise estas clases*/
    /* Rojo claro */
}

table#tablaIncidencias tr.faltan-datos>td {
    background-color:  #b2babb  !important;
    /* Gris claro */
}

table#tablaIncidencias tr.testing>td {
    background-color:  #85c1e9 !important;
    /* Azul claro */
}

table#tablaIncidencias tr.en-curso>td {
    background-color: #f9ecc1 !important;
    /* Amarillo claro */
}

table#tablaIncidencias tr.finalizada>td {
    background-color: #74dd8d !important;
    /* Verde claro */
}

/*Modal vista incidencia*/

#modalDetalleIncidencia{
    display:none; 
    position:fixed; 
    top:0; left:0; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,0.5); 
    z-index:1050;
}

.modal {
  display: none;
  position: fixed;
  top:0; left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
}

.modal-dialog {
  background: white;
  border-radius: 5px;
  padding: 15px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.btn-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
}

/*Mensaje exito al crear incidencia*/
#mensajeExito {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 9999;
}